# KDDI Location Data検証用

In [1]:
import pandas as pd
import glob
import os
import gc

In [4]:
files = glob.glob("./LocationData/*.csv")

In [5]:
print(len(files))
files

0

[]

In [4]:
files[32]

'./LocationData\\KLD112333_1.csv'

In [18]:
# KLD112301_1.csv
df_chk_01 = pd.read_csv(files[48])
# KLD112396_1.csv
# df_chk_96 = pd.read_csv(files[95])

C:\Users\IT05\Anaconda3\envs\gis39\lib\site-packages\IPython\core\interactiveshell.py:3398: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
# 表示行数の設定
pd.set_option('display.max_rows', 1000)

In [8]:
# KLD112301_1.csv
df_chk_01.sort_values(['start_time', 'end_time'])

,yyyymm,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
24,202110,125,20211001,50323486123,38210,00:00,50323486123,38210,00:15,K,109.49
123,202110,125,20211001,50323486241,38210,00:00,50323486241,38210,00:15,K,34.78
227,202110,125,20211001,50323543314,38210,00:00,50323543314,38210,00:15,K,74.89
319,202110,125,20211001,50323553331,38210,00:00,50323553331,38210,00:15,K,37.33
415,202110,125,20211001,50323566211,38210,00:00,50323566211,38210,00:15,K,27.64
...,...,...,...,...,...,...,...,...,...,...,...
25274390,202204,125,20220430,51320603423,38201,23:15,51320603423,38201,23:30,K,76.85
25274571,202204,125,20220430,51320603444,38201,23:15,51320603444,38201,23:30,K,85.17
25274628,202204,125,20220430,51320604344,38201,23:15,51320604344,38201,23:30,K,85.02
25274794,202204,125,20220430,51320614114,38201,23:15,51320614114,38201,23:30,K,42.59
25274926,202204,125,20220430,51320614321,38201,23:15,51320614321,38201,23:30,K,33.86

In [31]:
df_chk_01[(df_chk_01['end_mesh_area']==50323486123) & (df_chk_01['yyyymmdd']==20211001)].sort_values('start_time').to_csv('flow_comfirm.csv')

In [20]:
df_chk_01[(df_chk_01['end_mesh_area']==50323486123) & (df_chk_01['yyyymmdd']==20211001)].sort_values('start_time').head(1000)

,yyyymm,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
67,202110,125,20211001,50323486123,38210,00:00,50323486123,38210,00:15,K,109.49
68,202110,125,20211001,50323486123,38210,00:15,50323486123,38210,00:30,K,109.49
69,202110,125,20211001,50323486123,38210,00:30,50323486123,38210,00:45,K,109.49
70,202110,125,20211001,50323486123,38210,00:45,50323486123,38210,01:00,K,109.49
71,202110,125,20211001,50323486123,38210,01:00,50323486123,38210,01:15,K,109.49
72,202110,125,20211001,50323486123,38210,01:15,50323486123,38210,01:30,K,109.49
73,202110,125,20211001,50323486123,38210,01:30,50323486123,38210,01:45,K,109.49
74,202110,125,20211001,50323486123,38210,01:45,50323486123,38210,02:00,K,109.49
75,202110,125,20211001,50323486123,38210,02:00,50323486123,38210,02:15,K,109.49
76,202110,125,20211001,50323486123,38210,02:15,50323486123,38210,02:30,K,109.49
77,202110,125,20211001,50323486123,38210,02:30,50323486123,38210,02:45,K,109.49
78,202110,125,20211001,50323486123,38210,02:45,50323486123,38210,03:00,K,109.49
79,202110,125,20211001,50323486123,38210,03:00,50323486123,38210,03:15,K,109.49
80,202110,125,20211001,50323486123,38210,03:15,50323486123,38210,03:30,K,109.49
81,202110,125,20211001,50323486123,38210,03:30,50323486123,38210,03:45,K,109.49
82,202110,125,20211001,50323486123,38210,03:45,50323486123,38210,04:00,K,109.49
83,202110,125,20211001,50323486123,38210,04:00,50323486123,38210,04:15,K,109.49
84,202110,125,20211001,50323486123,38210,04:15,50323486123,38210,04:30,K,109.49
85,202110,125,20211001,50323486123,38210,04:30,50323486123,38210,04:45,K,109.49
86,202110,125,20211001,50323486123,38210,04:45,50323486123,38210,05:00,K,109.49
87,202110,125,20211001,50323486123,38210,05:00,50323486123,38210,05:15,K,109.49
88,202110,125,20211001,50323486123,38210,05:15,50323486123,38210,05:30,K,109.49
89,202110,125,20211001,50323486123,38210,05:30,50323486123,38210,05:45,K,109.49
90,202110,125,20211001,50323486123,38210,05:45,50323486123,38210,06:00,K,109.49
91,202110,125,20211001,50323486123,38210,06:00,50323486123,38210,06:15,K,109.49
92,202110,125,20211001,50323486123,38210,06:15,50323486123,38210,06:30,K,109.49
93,202110,125,20211001,50323486123,38210,06:30,50323486123,38210,06:45,K,109.49
94,202110,125,20211001,50323486123,38210,06:45,50323486123,38210,07:00,K,109.49
95,202110,125,20211001,50323486123,38210,07:00,50323486123,38210,07:15,K,109.49
96,202110,125,20211001,50323486123,38210,07:15,50323486123,38210,07:30,K,109.49
97,202110,125,20211001,50323486123,38210,07:30,50323486123,38210,07:45,K,109.49
98,202110,125,20211001,50323486123,38210,07:45,50323486123,38210,08:00,K,109.49
99,202110,125,20211001,50323486123,38210,08:00,50323486123,38210,08:15,K,109.49
101,202110,125,20211001,50323486123,38210,08:15,50323486123,38210,08:30,K,34.6
102,202110,125,20211001,50323486123,38210,08:30,50323486123,38210,08:45,K,34.6
103,202110,125,20211001,50323486123,38210,08:45,50323486123,38210,09:00,K,34.6
104,202110,125,20211001,50323486123,38210,09:00,50323486123,38210,09:15,K,34.6
105,202110,125,20211001,50323486123,38210,09:15,50323486123,38210,09:30,K,34.6
106,202110,125,20211001,50323486123,38210,09:30,50323486123,38210,09:45,K,34.6
107,202110,125,20211001,50323486123,38210,09:45,50323486123,38210,10:00,K,34.6
108,202110,125,20211001,50323486123,38210,10:00,50323486123,38210,10:15,K,34.6
109,202110,125,20211001,50323486123,38210,10:15,50323486123,38210,10:30,K,34.6
110,202110,125,20211001,50323486123,38210,10:30,50323486123,38210,10:45,K,34.6
111,202110,125,20211001,50323486123,38210,10:45,50323486123,38210,11:00,K,34.6
112,202110,125,20211001,50323486123,38210,11:00,50323486123,38210,11:15,K,34.6
113,202110,125,20211001,50323486123,38210,11:15,50323486123,38210,11:30,K,34.6
61,202110,125,20211001,50323475443,38210,11:30,50323486123,38210,12:00,K,74.89
114,202110,125,20211001,50323486123,38210,11:30,50323486123,38210,11:45,K,34.6
115,202110,125,20211001,50323486123,38210,11:45,50323486123,38210,12:00,K,34.6
116,202110,125,20211001,50323486123,38210,12:00,50323486123,38210,12:15,K,109.49
117,202110,125,20211001,50323486123,38210,12:15,50323486123,38210,12:30,K,109.49
118,202110,125,20211001,50323486123,38210,12:30,50323486123,38210,12:45,K,109.49
119,202110,125,20211001,50323486123,38210,12:45,50323486123,38210,13:00,K,109.49
120,202110,125,20211001,50323486123,38210,13:00,50323486123,38210,13:15,K,109.49
121,202110,125,20211001,50323486123,38210,13:15,50323486123,38210,13:30,K,109.49
122,202110,125,20211001,50323486123,38210,13:30,50323486123,38210,13:45,K,109.49
123,202110,125,20211001,50323486123,38210,13:45,50323486123,38210,14:00,K,109.49
124,202110,125,20211001,50323486123,38210,14:00,50323486123,38210,14:15,K,109.49
125,202110,125,20211001,50323486123,38210,14:15,50323486123,38210,14:30,K,109.49
126,202110,125,20211001,50323486123,38210,14:30,50323486123,38210,14:45,K,109.49
127,202110,125,20211001,50323486123,38210,14:45,50323486123,38210,15:00,K,109.49
128,202110,125,20211001,50323486123,38210,15:00,50323486123,38210,15:15,K,109.49
129,202110,125,20211001,50323486123,38210,15:15,50323486123,38210,15:30,K,109.49
130,202110,125,20211001,50323486123,38210,15:30,50323486123,38210,15:45,K,109.49
131,202110,125,20211001,50323486123,38210,15:45,50323486123,38210,16:00,K,109.49
132,202110,125,20211001,50323486123,38210,16:00,50323486123,38210,16:15,K,109.49
133,202110,125,20211001,50323486123,38210,16:15,50323486123,38210,16:30,K,109.49
134,202110,125,20211001,50323486123,38210,16:30,50323486123,38210,16:45,K,109.49
135,202110,125,20211001,50323486123,38210,16:45,50323486123,38210,17:00,K,109.49
136,202110,125,20211001,50323486123,38210,17:00,50323486123,38210,17:15,K,109.49
137,202110,125,20211001,50323486123,38210,17:15,50323486123,38210,17:30,K,109.49
138,202110,125,20211001,50323486123,38210,17:30,50323486123,38210,17:45,K,109.49
139,202110,125,20211001,50323486123,38210,17:45,50323486123,38210,18:00,K,109.49
140,202110,125,20211001,50323486123,38210,18:00,50323486123,38210,18:15,K,109.49
141,202110,125,20211001,50323486123,38210,18:15,50323486123,38210,18:30,K,109.49
142,202110,125,20211001,50323486123,38210,18:30,50323486123,38210,18:45,K,109.49
143,202110,125,20211001,50323486123,38210,18:45,50323486123,38210,19:00,K,109.49
144,202110,125,20211001,50323486123,38210,19:00,50323486123,38210,19:15,K,109.49
145,202110,125,20211001,50323486123,38210,19:15,50323486123,38210,19:30,K,74.89
146,202110,125,20211001,50323486123,38210,19:30,50323486123,38210,19:45,K,74.89
147,202110,125,20211001,50323486123,38210,19:45,50323486123,38210,20:00,K,74.89
148,202110,125,20211001,50323486123,38210,20:00,50323486123,38210,20:15,K,74.89
149,202110,125,20211001,50323486123,38210,20:15,50323486123,38210,20:30,K,74.89
150,202110,125,20211001,50323486123,38210,20:30,50323486123,38210,20:45,K,74.89
151,202110,125,20211001,50323486123,38210,20:45,50323486123,38210,21:00,K,74.89
152,202110,125,20211001,50323486123,38210,21:00,50323486123,38210,21:15,K,74.89
153,202110,125,20211001,50323486123,38210,21:15,50323486123,38210,21:30,K,74.89
154,202110,125,20211001,50323486123,38210,21:30,50323486123,38210,21:45,K,74.89
155,202110,125,20211001,50323486123,38210,21:45,50323486123,38210,22:00,K,74.89
156,202110,125,20211001,50323486123,38210,22:00,50323486123,38210,22:15,K,74.89
157,202110,125,20211001,50323486123,38210,22:15,50323486123,38210,22:30,K,74.89
158,202110,125,20211001,50323486123,38210,22:30,50323486123,38210,22:45,K,74.89
159,202110,125,20211001,50323486123,38210,22:45,50323486123,38210,23:00,K,74.89
160,202110,125,20211001,50323486123,38210,23:00,50323486123,38210,23:15,K,74.89
161,202110,125,20211001,50323486123,38210,23:15,50323486123,38210,23:30,K,74.89

In [8]:
# KLD112396_1.csv
#df_chk_01[(df_chk_01['start_mesh_area']==50323486241) & (df_chk_01['yyyymmdd']==20211001)].sort_values('start_time').head(200)
df_chk_01[(df_chk_01['start_mesh_area']==50323475443) & (df_chk_01['yyyymmdd']==20211001)].sort_values('start_time').head(1000)

NameError: name 'df_chk_01' is not defined

In [3]:
# 抽出処理の実行(本来の要件)
for f in files:
    df = pd.read_csv(f)
    # 滞在は除く
    nstay_df = df[df['ODRouteType'] != 'K']
    # メッシュコードが同じものを除く
    nsamemesh_df = nstay_df[nstay_df['start_mesh_area'] != nstay_df['end_mesh_area']]
    # 推定人数が秘匿のところは空白に置換える
    nsamemesh_df.loc[nsamemesh_df['population'] == '***', 'population'] = ''
    # 抽出したものを保存
    nsamemesh_df.to_csv('./LocationDataEx/' + os.path.split(f)[1])
    # 推定人数のユニーク数についても保存
    nsamemesh_df['population'].value_counts().to_csv(('./LocationDataEx/pop_' + os.path.split(f)[1]))
    # 変数の削除
    del df, nstay_df, nsamemesh_df
    gc.collect()

C:\Users\IT05\Anaconda3\envs\gis39\lib\site-packages\IPython\core\interactiveshell.py:3398: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\IT05\Anaconda3\envs\gis39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [5]:
files = glob.glob("./LocationDataDistinct_EX/*.csv")

In [6]:
# マージ処理（12ファイル = 3h）
cnt = 0
names = ['a.csv', 'b.csv', 'c.csv', 'd.csv', 'e.csv', 'f.csv', 'g.csv', 'h.csv']
itr_names = iter(names)
file_names = []
con_df = None
for f in files:
    # ファイル名の一時保存（12ファイル分）
    file_names.append(f)
    if cnt == 0:
        base_df = pd.read_csv(f, index_col=0)
    elif cnt == 1:
        df = pd.read_csv(f, index_col=0)
        con_df = pd.concat([base_df, df], ignore_index=True)
        con_df.drop_duplicates(inplace=True) # 重複行の削除
    else:
        df = pd.read_csv(f, index_col=0)
        con_df = pd.concat([con_df, df], ignore_index=True)
        con_df.drop_duplicates(inplace=True) # 重複行の削除
    
    if cnt == 11:
        name = next(itr_names)
        # 保存処理
        con_df.to_csv('./221205_Test_Middle/' + name)
        # 出力
        pd.Series(file_names).to_csv('./221205_Test_Middle/fnames_' + name)
        # カウントクリア
        cnt = 0
        # ファイル名のクリア
        file_names.clear()
    else:
        cnt += 1

# 抽出後確認

In [20]:
files = glob.glob("./LocationDataEx_merge/*.csv", )

In [21]:
files

['./LocationDataEx_merge\\a.csv',
 './LocationDataEx_merge\\b.csv',
 './LocationDataEx_merge\\c.csv',
 './LocationDataEx_merge\\d.csv',
 './LocationDataEx_merge\\e.csv',
 './LocationDataEx_merge\\f.csv',
 './LocationDataEx_merge\\g.csv',
 './LocationDataEx_merge\\h.csv']

In [24]:
df = pd.read_csv(files[1], index_col=0)

In [25]:
df

,yyyymm,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
0,202110,125,20211001,50323454243,38210,06:00,50323454414,38210,06:45,S,30.73
1,202110,125,20211001,50323454414,38210,07:15,50326620132,38201,08:30,S,30.73
2,202110,125,20211001,50323486111,38210,06:30,50323486113,38210,18:45,R,30.73
3,202110,125,20211001,50323486123,38210,06:30,50323486124,38210,07:00,W,55.53
4,202110,125,20211001,50323486123,38210,08:15,50323475443,38210,08:45,S,74.89
...,...,...,...,...,...,...,...,...,...,...,...
19109808,202204,125,20220430,51320614114,38201,11:30,51320614132,38201,12:00,W,42.59
19109809,202204,125,20220430,51320614114,38201,14:15,51320614132,38201,14:45,W,42.59
19109810,202204,125,20220430,51320614122,38201,12:00,50327631142,38201,12:45,S,41.74
19109811,202204,125,20220430,51320614132,38201,12:30,51320614114,38201,13:00,W,42.59
19109812,202204,125,20220430,51320614321,38201,13:00,50326527131,38201,14:45,S,33.86

# PostGISではなくPandasで全ての処理をした場合

In [7]:
files = glob.glob("./221205_Test_Middle/*.csv")

In [8]:
cnt = 0
for f in files:
    if cnt == 0:
        base_df = pd.read_csv(f, index_col=0)
    elif cnt == 1:
        df = pd.read_csv(f, index_col=0)
        con_df = pd.concat([base_df, df], ignore_index=True)
        con_df.drop_duplicates(inplace=True) # 重複行の削除
    else:
        df = pd.read_csv(f, index_col=0)
        con_df = pd.concat([con_df, df], ignore_index=True)
        con_df.drop_duplicates(inplace=True) # 重複行の削除
    cnt += 1

# 保存処理
con_df.to_csv('./221205_Test_Last/merged.csv')

In [9]:
df = pd.read_csv('./221205_Test_Last/merged.csv', index_col=0)
df

,yyyymm,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
0,202110,125,20211001,50323454243,38210,06:00,50323454414,38210,06:45,S,30.73
1,202110,125,20211001,50323454414,38210,07:15,50326620132,38201,08:30,S,30.73
2,202110,125,20211001,50323486111,38210,06:30,50323486113,38210,18:45,R,30.73
3,202110,125,20211001,50323486123,38210,06:30,50323486124,38210,07:00,W,55.53
4,202110,125,20211001,50323486123,38210,08:15,50323475443,38210,08:45,S,74.89
...,...,...,...,...,...,...,...,...,...,...,...
4216417,202204,125,20220430,50326640111,38201,23:00,50326601434,38201,23:45,S,66.16
4216418,202204,125,20220430,50326640424,38201,23:15,50326650211,38201,23:45,S,38.25
4216423,202204,125,20220430,50326645413,38201,22:30,50326645411,38201,23:45,S,42.59
4216424,202204,125,20220430,50326660132,38201,23:15,50326660131,38201,23:45,S,41.74
4216425,202204,125,20220430,50326680314,38201,23:00,50326680314,38201,23:45,S,47.96

# 以下参考：PostGIS処理後（重複行の削除処理後）
```create table a_dt as
select distinct on(tb.yyyymmdd, tb.start_mesh_area, tb.start_time, tb.end_mesh_area, tb.end_time, tb.odroutetype, tb.population) tb.yyyymmdd, tb.start_mesh_area, tb.start_time, tb.end_mesh_area, tb.end_time, tb.odroutetype, tb.population
from a_csv tb```

In [2]:
files = glob.glob("./csv_distincted/*.csv")

In [3]:
files

['./csv_distincted\\a_dt.csv',
 './csv_distincted\\b_dt.csv',
 './csv_distincted\\c_dt.csv',
 './csv_distincted\\d_dt.csv',
 './csv_distincted\\e_dt.csv',
 './csv_distincted\\f_dt.csv',
 './csv_distincted\\g_dt.csv',
 './csv_distincted\\h_dt.csv']

In [5]:
files[0]

'./csv_distincted\\a_dt.csv'

In [6]:
df_a = pd.read_csv(files[0])

In [7]:
df_a

,yyyymmdd,start_mesh_area,start_time,end_mesh_area,end_time,odroutetype,population
0,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
1,2021-10-01,50323454414,07:15,50326620132,08:30,S,30.73
2,2021-10-01,50323486111,06:30,50323486113,18:45,R,30.73
3,2021-10-01,50323486123,06:30,50323486124,07:00,W,55.53
4,2021-10-01,50323486123,08:15,50323475443,08:45,S,74.89
...,...,...,...,...,...,...,...
1659856,2022-04-30,51320614114,11:30,51320614132,12:00,W,42.59
1659857,2022-04-30,51320614114,14:15,51320614132,14:45,W,42.59
1659858,2022-04-30,51320614122,12:00,50327631142,12:45,S,41.74
1659859,2022-04-30,51320614132,12:30,51320614114,13:00,W,42.59
1659860,2022-04-30,51320614321,13:00,50326527131,14:45,S,33.86

In [11]:
cnt = 0
for f in files:
    if cnt == 0:
        base_df = pd.read_csv(f)
    elif cnt == 1:
        df = pd.read_csv(f)
        con_df = pd.concat([base_df, df], ignore_index=True)
    else:
        df = pd.read_csv(f)
        con_df = pd.concat([con_df, df], ignore_index=True)
    cnt += 1

# 保存処理
con_df.to_csv('./a_merged.csv')

# マージ後データの確認

In [14]:
df = pd.read_csv('./a_merged.csv', index_col=0)

In [15]:
df

,yyyymmdd,start_mesh_area,start_time,end_mesh_area,end_time,odroutetype,population
0,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
1,2021-10-01,50323454414,07:15,50326620132,08:30,S,30.73
2,2021-10-01,50323486111,06:30,50323486113,18:45,R,30.73
3,2021-10-01,50323486123,06:30,50323486124,07:00,W,55.53
4,2021-10-01,50323486123,08:15,50323475443,08:45,S,74.89
...,...,...,...,...,...,...,...
13358917,2022-04-30,51320614114,11:30,51320614132,12:00,W,42.59
13358918,2022-04-30,51320614114,14:15,51320614132,14:45,W,42.59
13358919,2022-04-30,51320614122,12:00,50327631142,12:45,S,41.74
13358920,2022-04-30,51320614132,12:30,51320614114,13:00,W,42.59
13358921,2022-04-30,51320614321,13:00,50326527131,14:45,S,33.86

In [17]:
df.duplicated().sum()

11610110

In [18]:
df.sort_values(by=["yyyymmdd", "start_mesh_area", "start_time"])

,yyyymmdd,start_mesh_area,start_time,end_mesh_area,end_time,odroutetype,population
0,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
1659861,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
3324393,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
5002075,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
6675951,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
...,...,...,...,...,...,...,...
5002074,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86
6675950,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86
8360232,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86
10047268,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86
11726399,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86

# 初期抽出データの重複確認

In [4]:
files = glob.glob("./LocationDataEx/*")

In [7]:
files[:5]

['./LocationDataEx\\KLD112301_1.csv',
 './LocationDataEx\\KLD112302_1.csv',
 './LocationDataEx\\KLD112303_1.csv',
 './LocationDataEx\\KLD112304_1.csv',
 './LocationDataEx\\KLD112305_1.csv']

In [8]:
df_1 = pd.read_csv(files[0])
df_2 = pd.read_csv(files[1])

In [10]:
df_m = pd.concat([df_1, df_2], axis=0, ignore_index=True)

In [11]:
df_m.duplicated().sum()

53

In [15]:
print(df_1.shape)
print(df_2.shape)
print(df_m.shape)

(1577436, 12)
(1580414, 12)
(3157850, 12)